---
title: Facilities
layout: default
bodyClass: "page-facilities"
---

<section class="light">
	<div class="container py-2">
		<div class="h2 text-center text-dark" style="font-family:Playfair-Display;" id="">Facilities</div>

    {% for facility in site.data.facilities %}
		<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="{{ facility.image.url | relative_url }}" alt="{{ facility.image.alt }}" />	
			</a>

			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">
          {{ facility.title }}</a>
        </h1>

				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">{{ facility.description }}
        </div>
			</div>
		</article>
    {% endfor %}
	</div>
</section>

