---
layout: default
bodyClass: "page-gallery"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="gallery gallery-single">
        <h4 class="title">{{page.title}}</h4>
        <div class="content">{{content}}</div>

        {% capture year %}{{ page.date | date: "%Y" }}{% endcapture %}
        {% capture month %}{{ page.date | date: "%m" }}{% endcapture %}
        <div class="mdl-grid">
          {% for picture in site.data.galleries.galleries[page.gallery_id].pictures %}
          {% if site.data.galleries.galleries[page.gallery_id].pictures.size > 1 %}
          <div class="mdl-cell mdl-cell--4-col">
            {% else %}
            <div class="mdl-cell mdl-cell--12-col">
              {% endif %}
              {% capture picture_url %}{{picture.url}}{% endcapture %}
              <a href="{{picture_url}}" data-lightbox="{{page.gallery_id}}" title="{{picture.caption}}">
                {% if site.developer_mode %}
                <img src="{{picture_url}}" />
                <!--{% else %}
                {% cloudinary {{ picture_url }} %}-->
                {% endif %}
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
