---
layout: default
bodyClass: "page-home"
---


</head>

<body>
<div class="text-center">
  <h2 style="font-family: Playfair Display;">BV Jagadeesh Science Centre</h2>
  <quote style="font-style: italic;">Inspiring to question everything</quote>
</div><br>    

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="images/intro/home.jpg" class="d-block w-100 img-fluid" alt="image">
      </div>
      <div class="carousel-item">
          <img src="images/intro/activities.jpg" class="d-block w-100 img-fluid" alt="image">
      </div>
      <div class="carousel-item">
          <img src="images/intro/home.jpg" class="img-fluid" alt="image">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>

{% capture currentDate %}{{'now' | date: '%s' }}{% endcapture %}
{% for post in site.posts reversed %}
{% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}
{% if blogDate >= currentDate %}
<div class="container pt-6 pb-6">
  <div class="clearfix">
    <h1 class="event-time-heading fix-top">Future Events </h1>
    <a href="{{ post.url | relative_url }}">
      <h4>{{ post.title }}</h4>
      <p>{{ post.date | date: "%b %-d, %Y" }}</p>
    </a>
  </div>
</div>
{% endif %}
{% endfor %}

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      <iframe class="responsive iframe" width="560" height="315"
        src="https://www.youtube.com/embed/byIonhayHVM?start=41" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
      </iframe>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_activities | default: 6 %}
      {% for activity in site.activities limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="activity activity-summary">
          <div class="activity-content">
            <h2 class="activity-title" style="font-family: Playfair Display;">
              <a href="{{ activity.url | relative_url }}">{{ activity.title }}</a>
            </h2>
            <p>{{ activity.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "activities" | relative_url }}">View all activities</a>
      </div>
    </div>
  </div>
</div>

{% include collaborators.html %}
