---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        {% if page.show_call_box %}
        {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}"
          class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}"
          src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% capture currentDate %}{{'now' | date: '%s' }}{% endcapture %}
{% for post in site.posts reversed %}
{% capture blogDate %}{{post.date | date: '%s' }}{% endcapture %}
{% if blogDate >= currentDate %}
<div class="container pt-6 pb-6">
  <div class="clearfix">
    <h1 class="event-time-heading fix-top">Future Events </h1>
    <a href="{{ post.url | relative_url }}">
      <h4>{{ post.title }}</h4>
      <p>{{ post.date | date: "%b %-d, %Y" }}</p>
    </a>
  </div>
</div>
{% endif %}
{% endfor %}

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      <iframe class="responsive iframe" width="560" height="315"
        src="https://www.youtube.com/embed/byIonhayHVM?start=41" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
      </iframe>
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_activities | default: 6 %}
      {% for activity in site.activities limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="activity activity-summary">
          <div class="activity-content">
            <h2 class="activity-title">
              <a href="{{ activity.url | relative_url }}">{{ activity.title }}</a>
            </h2>
            <p>{{ activity.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "activities" | relative_url }}">View all activities</a>
      </div>
    </div>
  </div>
</div>

{% include collaborators.html %}
