---
layout: default
---

{% assign organiser = site.data.organisers.[page.organiser] %}


<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post-header">
          <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
          {% if organiser.photo %}
          <h5 class="post-organisers-name">by {{organiser.name}}</h5>
          {% endif %}

          {% if show_date %}
          <h2 class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{
              page.date | date: "%B %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope
              itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h2>
          {% endif %}

          {% if show_time %}    
          <h3 class="post-time">From {{ page.start_time}} to {{page.end_time }}</h3>
          {% endif %}
        </header>

        {% if organiser.photo %}
        <div class="author" style="background-image:url({{organiser.photo}});"></div>
        {% endif %}

        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>

        <br>
        {% if page.show_register %}
        <div>
          <a href="{{ page.registration-link }}" class="button button-primary" target="_blank">Register</a>
        </div>
        {% endif %}

        <br>
        {% if page.show_feedback %}
        <div>
          <a href="{{ page.feedback-link }}" class="button button-primary" target="_blank">Feedback</a>
        </div>
        {% endif %}
      
      </article>
    </div>
  </div>
</div>