---
layout: default
---



<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="post-header">
          <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
          {% if page.organiser-name %}
          <h5 class="post-organisers-name">by {{page.organiser-name}}</h5>
          {% endif %}

          {% if page.show_date %}
          <h5 class="post-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{
              page.date | date: "%B %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope
              itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</h5>
          {% endif %}

          {% if page.show_time %}    
          <h5 class="post-time">From {{ page.start_time}} to {{page.end_time }}</h5>
          {% endif %}

          <div class="share-post">
            <i class="fa fa-share-alt-square fa-fw" aria-hidden="true"></i>&nbsp;Share:&nbsp;
            {% include share-buttons.html %}
          </div>

        </header>
        



        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>

        <br>
        {% if page.show_register %}
        <div>
          <a href="{{ page.registration-link }}" class="button button-primary" target="_blank">Register</a>
        </div>
        {% endif %}

        <br>
        {% if page.show_feedback %}
        <div>
          <a href="{{ page.feedback-link }}" class="button button-primary" target="_blank">Feedback</a>
        </div>
        {% endif %}
      
      </article>
    </div>
  </div>
</div>